$width: 100%;
$fontWeight: 400;
$imagSize: 2rem;

.aboutme_article_content {
  -webkit-box-sizing: border-box;
  width: $width;
  max-width: 71.25rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.aboutme_basic_info {
  margin-bottom: 2rem;
  width: $width;
}

.aboutme_basic_info_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
  width: $width;
}

#up {
  margin-bottom: 4rem;
}

@media (max-width: 680px) {
  .aboutme_basic_info_wrapper {
    display: flex;
    flex-flow: column wrap !important;
    align-items: center;
    padding-right: 12%;
  }

  .aboutme_article_content {
    padding: 2rem 1rem;
  }

  #up {
    margin-bottom: 0rem;
  }
}
