$position:relative;
$width:3rem;
$black:black;

.footer_icon_wrapper{
    position: $position;
    display: inline-block;
    width: $width;
    height: $width;
    padding: 2px;
    margin: 0 .5rem;
    border-radius: 2rem;
    cursor: pointer;

    &.bgcolor{
        background-color: #fff;
    }
}

.image{
    width: 100%;
}

.footer_icon_wrapper {
    position: $position;
    display: inline-block;
  }
  
  .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: $black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
        
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    ::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $black transparent transparent transparent;
    }
  }
  
  .footer_icon_wrapper:hover .tooltip {
    visibility: visible;
  }