.skill_container_img_box{
    display: flex;
    align-items: center;    
    justify-content: start;
    &.bottom{
        margin-bottom: 1rem;
    }
}

.skill_container_img_wapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;    
    &.img_size{
        width: 100%;
    }
}

.img{
     width: 90%;    
    height: 5rem;
    &.img_size{
        width: 100%;        
    }
}

.img_text{
    width: 50%;   
    font-weight: 400;
    font-size: x-large;
}

