.mobile-header {
  display: none;

  .header_menu {
    // display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 99;
    align-items: flex-end;
    max-height: 0; // 기본적으로 최대 높이 0
    overflow: hidden; // 넘치는 내용 숨김
    transition: max-height 0.3s ease, opacity 0.3s ease; // 최대 높이에 대한 애니메이션 효과

    &.open {
      max-height: 500px; // 충분히 큰 값으로 설정 (메뉴 항목 수에 맞게 조절)
      opacity: 1;
    }
  }

  .header_menu.open {
    display: flex;
  }

  .menuIcon {
    cursor: pointer;
    display: block;
  }
}

// 미디어 쿼리
@media (max-width: 768px) {
  .mobile-header {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobile-header {
    display: none;
  }
}
