.img {
  display: inherit;
  max-width: 71.25rem;
}

@media (max-width: 680px) {
  .slider {
    height: 400px;
  }

  .slider .animated {
    height: 430px;
  }
}

@media (max-width: 370px) {
  .img {
    width: 280px !important;
  }
}
