.footer{        
    height: 9rem;
    padding-top: 3rem;
    background-color: #222;    
    text-align: center;
}

.footer_icon{
    margin-bottom: 1rem;
}



.footerText{
    font-weight: 400;
    font-size: .9rem;
    color: #f5f5f5;
}