$width:3rem;
$right:1.5rem;

.pageUp{
    position: fixed;
    right: $right;
    bottom: $right;
    width: $width;
    height: $width;
    border-radius: .5rem;    
    cursor: pointer;
    opacity: .6;
}

.pageImage{
    width: 100%;
    border-radius: .2rem;
    background-color: #fff;
}