.pageUp{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;    
    cursor: pointer;
    opacity: .6;
}

.pageImage{
    width: 100%;
    border-radius: .2rem;
    background-color: #fff;
}